# Node.js
node_modules/
.env
node_modules/.bin/


# Build
dist/
build/

# OS/System
.DS_Store
Thumbs.db
backend/config/*.json
# Ignore backend build files if needed
backend/node_modules/
backend/node_modules/.bin/
backend/.env

